<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <section class="text-center">
      <h1 class="mt-6 text-3xl font-bold text-blue-500">Welcome to Blog</h1>
      <a href="/articles" class="inline-block mt-6 bg-blue-900 text-white p-3 hover:bg-indigo-700 rounded-lg"><h2>Go to Blog Page</h2></a>
    </section>
    
  </body>
</html>
